In [1]:
import csv 
import numpy as np
import pandas as pd

In [3]:
np_arr = np.loadtxt('data/test_data.CSV', delimiter=',', encoding='cp949', dtype=str)
np_arr

array([['이름', '나이', '성별', '직업', '사는곳'],
       ['서팔광', '25', '남', '교수', '경상남도'],
       ['황지필', '28', '여', '군인', '경상북도'],
       ['김일제', '36', '남', '', '서울/경기'],
       ['곽마권', '34', '남', '리포터', '강원도'],
       ['마풍강', '45', '남', '모델', '강원도'],
       ['김덕협', '67', '여', '개발자', '서울/경기'],
       ['나대물', '32', '여', '', '충청북도'],
       ['유덕창', '24', '남', '학원강사', '전라북도'],
       ['황충유', '34', '여', '개발자', '강원도'],
       ['가원창', '54', '남', '화가', '충청북도'],
       ['마석대', '23', '여', '학원강사', '경상북도'],
       ['계식도', '52', '여', '변호사', '전라북도'],
       ['최덕복', '64', '남', '개발자', '강원도'],
       ['손필견', '', '여', '법무사', '서울/경기'],
       ['오신평', '76', '남', '변호사', '강원도'],
       ['김억두', '54', '남', '학원강사', '충청북도'],
       ['배용팔', '25', '남', '판사', '경상북도'],
       ['두만욱', '34', '여', '개발자', '전라남도'],
       ['권필쌍', '62', '여', '학원강사', '충청북도'],
       ['방신마', '15', '남', '검사', '서울/경기'],
       ['왕대협', '', '여', '검사', '전라남도'],
       ['표팔제', '34', '남', '미술가', '전라북도'],
       ['엄석용', '43', '여', '개발자', '전라남도'],
       ['허태유', '', '여', '', '전라북도'],
       ['신장전', '65', '여', '학원강사', '경상북도'],
       ['여춘팔', '78', '여', '게임기획자', ''],
       ['홍학철', '89', '남', '프로게이머', '서울/경기'],
       ['문태범', '45', '남', '개발자', '제주도'],
       ['구동범', '35', '남', '감정평가사', '경상북도'],
       ['금천규', '67', '여', '개발자', '제주도'],
       ['홍혁팔', '17', '남', '빅데이터전문가', '전라북도'],
       ['한만재', '81', '남', '', '제주도'],
       ['하우돈', '73', '여', '대학교수', ''],
       ['허계돈', '64', '여', '빅데이터전문가', '제주도'],
       ['도엽철', '', '남', '대역배우', '서울/경기'],
       ['배팔식', '75', '여', '학원강사', '전라남도'],
       ['박두창', '34', '남', '도어맨', '서울/경기'],
       ['허곽의', '37', '여', '빅데이터전문가', '강원도'],
       ['길원춘', '54', '남', '패션모델', '충청남도'],
       ['명지광', '26', '남', '휴대폰디자이너', '경상북도'],
       ['금땡구', '47', '여', '웹디자이너', '충청남도'],
       ['김꽃길', '23', '여', '개발자', '강원도'],
       ['정큰손', '', '여', '웹개발자', '경상북도'],
       ['조키움', '74', '남', '', '서울/경기'],
       ['이큰힘', '25', '남', '건축가', '경상북도'],
       ['큰강산', '67', '남', '빅데이터전문가', '충청남도'],
       ['목소리', '37', '남', '모델', '서울/경기'],
       ['이튼튼', '27', '', '건축가', '경상북도'],
       ['김개년', '36', '여', '개발자', '서울/경기'],
       ['풀스택', '43', '남', '개발자', '서울/경기']], dtype='<U7')

In [26]:
# 데이터 프레임으로 바꾸기
# df = pd.DataFrame(np_arr)
df = pd.read_csv('data/test_data.CSV', encoding='cp949')
df

     이름    나이   성별       직업    사는곳
0   서팔광  25.0    남       교수   경상남도
1   황지필  28.0    여       군인   경상북도
2   김일제  36.0    남      NaN  서울/경기
3   곽마권  34.0    남      리포터    강원도
4   마풍강  45.0    남       모델    강원도
5   김덕협  67.0    여      개발자  서울/경기
6   나대물  32.0    여      NaN   충청북도
7   유덕창  24.0    남     학원강사   전라북도
8   황충유  34.0    여      개발자    강원도
9   가원창  54.0    남       화가   충청북도
10  마석대  23.0    여     학원강사   경상북도
11  계식도  52.0    여      변호사   전라북도
12  최덕복  64.0    남      개발자    강원도
13  손필견   NaN    여      법무사  서울/경기
14  오신평  76.0    남      변호사    강원도
15  김억두  54.0    남     학원강사   충청북도
16  배용팔  25.0    남       판사   경상북도
17  두만욱  34.0    여      개발자   전라남도
18  권필쌍  62.0    여     학원강사   충청북도
19  방신마  15.0    남       검사  서울/경기
20  왕대협   NaN    여       검사   전라남도
21  표팔제  34.0    남      미술가   전라북도
22  엄석용  43.0    여      개발자   전라남도
23  허태유   NaN    여      NaN   전라북도
24  신장전  65.0    여     학원강사   경상북도
25  여춘팔  78.0    여    게임기획자    NaN
26  홍학철  89.0    남    프로게이머  서울/경기
27  문태범  45.0    남      개발자    제주도
28  구동범  35.0    남    감정평가사   경상북도
29  금천규  67.0    여      개발자    제주도
30  홍혁팔  17.0    남  빅데이터전문가   전라북도
31  한만재  81.0    남      NaN    제주도
32  하우돈  73.0    여     대학교수    NaN
33  허계돈  64.0    여  빅데이터전문가    제주도
34  도엽철   NaN    남     대역배우  서울/경기
35  배팔식  75.0    여     학원강사   전라남도
36  박두창  34.0    남      도어맨  서울/경기
37  허곽의  37.0    여  빅데이터전문가    강원도
38  길원춘  54.0    남     패션모델   충청남도
39  명지광  26.0    남  휴대폰디자이너   경상북도
40  금땡구  47.0    여    웹디자이너   충청남도
41  김꽃길  23.0    여      개발자    강원도
42  정큰손   NaN    여     웹개발자   경상북도
43  조키움  74.0    남      NaN  서울/경기
44  이큰힘  25.0    남      건축가   경상북도
45  큰강산  67.0    남  빅데이터전문가   충청남도
46  목소리  37.0    남       모델  서울/경기
47  이튼튼  27.0  NaN      건축가   경상북도
48  김개년  36.0    여      개발자  서울/경기
49  풀스택  43.0    남      개발자  서울/경기

In [35]:
# 결측지를 null로 채우기
df.fillna('NULL',inplace=True)
df

     이름    나이    성별       직업    사는곳
0   서팔광  25.0     남       교수   경상남도
1   황지필  28.0     여       군인   경상북도
2   김일제  36.0     남     NULL  서울/경기
3   곽마권  34.0     남      리포터    강원도
4   마풍강  45.0     남       모델    강원도
5   김덕협  67.0     여      개발자  서울/경기
6   나대물  32.0     여     NULL   충청북도
7   유덕창  24.0     남     학원강사   전라북도
8   황충유  34.0     여      개발자    강원도
9   가원창  54.0     남       화가   충청북도
10  마석대  23.0     여     학원강사   경상북도
11  계식도  52.0     여      변호사   전라북도
12  최덕복  64.0     남      개발자    강원도
13  손필견  NULL     여      법무사  서울/경기
14  오신평  76.0     남      변호사    강원도
15  김억두  54.0     남     학원강사   충청북도
16  배용팔  25.0     남       판사   경상북도
17  두만욱  34.0     여      개발자   전라남도
18  권필쌍  62.0     여     학원강사   충청북도
19  방신마  15.0     남       검사  서울/경기
20  왕대협  NULL     여       검사   전라남도
21  표팔제  34.0     남      미술가   전라북도
22  엄석용  43.0     여      개발자   전라남도
23  허태유  NULL     여     NULL   전라북도
24  신장전  65.0     여     학원강사   경상북도
25  여춘팔  78.0     여    게임기획자   NULL
26  홍학철  89.0     남    프로게이머  서울/경기
27  문태범  45.0     남      개발자    제주도
28  구동범  35.0     남    감정평가사   경상북도
29  금천규  67.0     여      개발자    제주도
30  홍혁팔  17.0     남  빅데이터전문가   전라북도
31  한만재  81.0     남     NULL    제주도
32  하우돈  73.0     여     대학교수   NULL
33  허계돈  64.0     여  빅데이터전문가    제주도
34  도엽철  NULL     남     대역배우  서울/경기
35  배팔식  75.0     여     학원강사   전라남도
36  박두창  34.0     남      도어맨  서울/경기
37  허곽의  37.0     여  빅데이터전문가    강원도
38  길원춘  54.0     남     패션모델   충청남도
39  명지광  26.0     남  휴대폰디자이너   경상북도
40  금땡구  47.0     여    웹디자이너   충청남도
41  김꽃길  23.0     여      개발자    강원도
42  정큰손  NULL     여     웹개발자   경상북도
43  조키움  74.0     남     NULL  서울/경기
44  이큰힘  25.0     남      건축가   경상북도
45  큰강산  67.0     남  빅데이터전문가   충청남도
46  목소리  37.0     남       모델  서울/경기
47  이튼튼  27.0  NULL      건축가   경상북도
48  김개년  36.0     여      개발자  서울/경기
49  풀스택  43.0     남      개발자  서울/경기

In [51]:
# 계산을 위해 '나이'열을 숫자형으로 변환, 숫자로 변환안되면 nan으로 변환 
df['나이'] = pd.to_numeric(df['나이'], errors='coerce')
avg = df['나이'].mean()


# 평균나이와 각행의 나이 비교해서 차이계산 -> 새로운 df 생김
df['나이차이'] =  abs(df['나이']-avg)

# 비슷한 값 10개만 뽑아서 복사해서 새로운 dt 만들기 
df_avg10 = df.sort_values(by='나이차이').head(10).copy() 
#drop 은 보통 새객체반환/inplace=true하면 기존 dt를 수정함
df_avg10.drop(columns='나이차이',inplace=True)
df_avg10

     이름    나이 성별       직업    사는곳
40  금땡구  47.0  여    웹디자이너   충청남도
27  문태범  45.0  남      개발자    제주도
4   마풍강  45.0  남       모델    강원도
49  풀스택  43.0  남      개발자  서울/경기
22  엄석용  43.0  여      개발자   전라남도
11  계식도  52.0  여      변호사   전라북도
38  길원춘  54.0  남     패션모델   충청남도
9   가원창  54.0  남       화가   충청북도
15  김억두  54.0  남     학원강사   충청북도
37  허곽의  37.0  여  빅데이터전문가    강원도